<h1>News-scraper</h1>


<!-- Pass in data from server.js -->
<ul>
  {{#each dbArticle}}
  	<li>
  		<p data-id="{{this.id}}">
      {{this._id}}<br>
      {{this.title}}<br>
      {{this.link}}</p>
      {{!-- <p><span class="label">Name:</span> {{this.title}}</p>
      <p><span class="label">Link:</span> {{this.link}}</p> --}}
      {{!-- <div id="note">
        <p>{{this.title}}</p>
        <p>{{this}}</p>
        <p></p>
      </div> --}}

      <button data-id="{{this.id}}" class="delquote">Delete</button>

      <a href="/{{this.id}}">Update this quote</a>
  	</li>
  {{/each}}
</ul>

{{!-- <h2>Add a Quote</h2>

<form class="create-form">

  <div class="form-group">
    <label for="auth">Author:</label>
    <input type="text" id="auth" name="author">
  </div>

  <div class="form-group">
    <label for="quo">Quote:</label>
    <textarea id="quo" name="quote" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Add Quote</button>
</form> --}}
