<h1 style="text-align:center; border-color:aqua; border-style:groove;" id="main">News-scraper</h1>


<!-- Pass in data from server.js -->

  {{#each dbArticle}}
  <a href="/single-article/{{this.id}}">
  	
  		<p style="border-color:aqua; border-style:groove; width:700px; padding:5px;" data-id="{{this.id}}">
      {{this._id}}<br>
      {{this.title}}<br>
      {{this.link}}</p>
  
    </a>
  {{/each}}

{{!-- <h2>Add a Quote</h2>

<form class="create-form">

  <div class="form-group">
    <label for="auth">Author:</label>
    <input type="text" id="auth" name="author">
  </div>

  <div class="form-group">
    <label for="quo">Quote:</label>
    <textarea id="quo" name="quote" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Add Quote</button>
</form> --}}
