<h1>Add a note to the article</h1>
<div>
  <h2>{{this.article.title}}</h2>
  <a href="{{this.article.link}}">{{this.article.link}}</a>
</div>
<br>
<br>

<form data-id="{{this.article.id}}" class="update-form">

  {{!-- <div class="form-group">
    <label for="forTitle">hello</label>
    <input type="text" id="titleInput" name="author" size="40" value="{{this.author}}">
  </div> --}}
<div class="form-group">
    
    <textarea id="titleinput" name="titleInput" cols="40">{{this.article.note.title}}</textarea><br>
  
  
    <textarea id="bodyinput" name="bodyInput" rows="8" cols="40">{{this.article.note.body}}</textarea>
  </div>

  <button data-id="{{this.article.id}}" id="saveNote">Save note</button>
</form>

