<h1>Add a note to the article</h1>
<div>
  <h2>{{this.title}}</h2>
  <a href="{{this.link}}">{{this.link}}</a>
</div>
<br>
<br>

<form data-id="{{this.id}}" class="update-form">

  {{!-- <div class="form-group">
    <label for="forTitle">hello</label>
    <input type="text" id="titleInput" name="author" size="40" value="{{this.author}}">
  </div> --}}
<div class="form-group">
    
    <textarea id="titleinput" name="quote" cols="40" value="{{this.note.title}}"></textarea><br>
  
  
    <textarea id="bodyinput" name="quote" rows="8" cols="40" value="{{this.note.body}}"></textarea>
  </div>

  <button data-id="{{this.id}}" id="saveNote">Save note</button>
</form>

